In [160]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl as xl # if we want to read excel type read_excel method
%matplotlib inline

In [161]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [162]:
data=pd.read_excel("HousePricePrediction.xlsx")
data.shape

(2919, 13)

In [163]:
data.head()

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0

In [164]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2919 non-null   int64
 1   MSSubClass    2919 non-null   int64
 2   MSZoning      2915 non-null   object
 3   LotArea       2919 non-null   int64
 4   LotConfig     2919 non-null   object
 5   BldgType      2919 non-null   object
 6   OverallCond   2919 non-null   int64
 7   YearBuilt     2919 non-null   int64
 8   YearRemodAdd  2919 non-null   int64
 9   Exterior1st   2918 non-null   object
 10  BsmtFinSF2    2918 non-null   float64
 11  TotalBsmtSF   2918 non-null   float64
 12  SalePrice     1460 non-null   float64
dtypes: float64(3), int64(6), object(4)
memory usage: 296.6+ KB

In [141]:
obj=data.dtypes=='object'
len(list(obj[obj].index))

4

In [165]:
data.drop(['Id'],axis=1,inplace=True)

In [166]:
data.isna().sum()

MSSubClass         0
MSZoning           4
LotArea            0
LotConfig          0
BldgType           0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
Exterior1st        1
BsmtFinSF2         1
TotalBsmtSF        1
SalePrice       1459
dtype: int64

In [143]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2919 non-null   int64
 1   MSSubClass    2919 non-null   int64
 2   MSZoning      2915 non-null   object
 3   LotArea       2919 non-null   int64
 4   LotConfig     2919 non-null   object
 5   BldgType      2919 non-null   object
 6   OverallCond   2919 non-null   int64
 7   YearBuilt     2919 non-null   int64
 8   YearRemodAdd  2919 non-null   int64
 9   Exterior1st   2918 non-null   object
 10  BsmtFinSF2    2918 non-null   float64
 11  TotalBsmtSF   2918 non-null   float64
 12  SalePrice     1460 non-null   float64
dtypes: float64(3), int64(6), object(4)
memory usage: 296.6+ KB

In [144]:
#data["MSZoning"].fillna(data["MSZoning"].mode(), inplace=True)
#data["Exterior1st"].fillna(data["Exterior1st"].mode(), inplace=True)

In [167]:
#data["BsmtFinSF2"].fillna(data["BsmtFinSF2"].mean(), inplace=True)
#data["TotalBsmtSF"].fillna(data["TotalBsmtSF"].mean(), inplace=True)
data["SalePrice"].fillna(data["SalePrice"].mean(), inplace=True)

In [170]:
cleanData=data.dropna()

In [171]:
cleanData.isna().sum()

MSSubClass      0
MSZoning        0
LotArea         0
LotConfig       0
BldgType        0
OverallCond     0
YearBuilt       0
YearRemodAdd    0
Exterior1st     0
BsmtFinSF2      0
TotalBsmtSF     0
SalePrice       0
dtype: int64

In [172]:
cleanData.shape

(2913, 12)

In [176]:
cleanData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2913 entries, 0 to 2918
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MSSubClass    2913 non-null   int64
 1   MSZoning      2913 non-null   object
 2   LotArea       2913 non-null   int64
 3   LotConfig     2913 non-null   object
 4   BldgType      2913 non-null   object
 5   OverallCond   2913 non-null   int64
 6   YearBuilt     2913 non-null   int64
 7   YearRemodAdd  2913 non-null   int64
 8   Exterior1st   2913 non-null   object
 9   BsmtFinSF2    2913 non-null   float64
 10  TotalBsmtSF   2913 non-null   float64
 11  SalePrice     2913 non-null   float64
dtypes: float64(3), int64(5), object(4)
memory usage: 295.9+ KB

In [178]:
#use Label Encoding
from sklearn import preprocessing

le=preprocessing.LabelEncoder()

obj=(cleanData.dtypes=='object')
for col in list(obj.index):
    cleanData[col]=le.fit_transform(cleanData[col])

C:\Users\Administrator\AppData\Local\Temp\ipykernel_432\2655465869.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanData[col]=le.fit_transform(cleanData[col])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_432\2655465869.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanData[col]=le.fit_transform(cleanData[col])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_432\2655465869.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanData[col]=le.fit_transform(cleanData[col])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_432\2655465869.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanData[col]=le.fit_transform(cleanData[col])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_432\2655465869.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanData[col]=le.fit_transform(cleanData[col])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_432\2655465869.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanData[col]=le.fit_transform(cleanData[col])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_432\2655465869.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanData[col]=le.fit_transform(cleanData[col])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_432\2655465869.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanData[col]=le.fit_transform(cleanData[col])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_432\2655465869.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanData[col]=le.fit_transform(cleanData[col])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_432\2655465869.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanData[col]=le.fit_transform(cleanData[col])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_432\2655465869.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanData[col]=le.fit_transform(cleanData[col])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_432\2655465869.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanData[col]=le.fit_transform(cleanData[col])

In [179]:
cleanData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2913 entries, 0 to 2918
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MSSubClass    2913 non-null   int64
 1   MSZoning      2913 non-null   int32
 2   LotArea       2913 non-null   int64
 3   LotConfig     2913 non-null   int32
 4   BldgType      2913 non-null   int32
 5   OverallCond   2913 non-null   int64
 6   YearBuilt     2913 non-null   int64
 7   YearRemodAdd  2913 non-null   int64
 8   Exterior1st   2913 non-null   int32
 9   BsmtFinSF2    2913 non-null   int64
 10  TotalBsmtSF   2913 non-null   int64
 11  SalePrice     2913 non-null   int64
dtypes: int32(4), int64(8)
memory usage: 250.3 KB

In [180]:
cleanData

,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,5,3,618,4,0,4,110,53,12,0,261,413
1,0,3,894,2,0,7,83,26,8,0,603,340
2,5,3,1265,4,0,4,108,52,12,0,307,443
3,6,3,882,0,0,4,25,20,13,0,181,194
4,5,3,1669,2,0,4,107,50,12,0,504,495
...,...,...,...,...,...,...,...,...,...,...,...,...
2914,13,4,23,4,3,6,77,20,5,0,69,337
2915,13,4,20,4,4,4,77,20,5,0,69,337
2916,0,3,1860,4,0,6,67,46,12,0,572,337
2917,9,3,1089,4,0,4,99,42,6,0,300,337
2918,5,3,899,4,0,4,100,44,6,0,374,337

In [152]:
data.isna().sum()

Id              0
MSSubClass      0
MSZoning        0
LotArea         0
LotConfig       0
BldgType        0
OverallCond     0
YearBuilt       0
YearRemodAdd    0
Exterior1st     0
BsmtFinSF2      0
TotalBsmtSF     0
SalePrice       0
dtype: int64

In [181]:
from sklearn.model_selection import train_test_split

X=cleanData.drop(['SalePrice'],axis=1)
Y=cleanData['SalePrice']
print(X.shape)
print(Y.shape)

(2913, 11)
(2913,)

In [182]:
X_Train,X_Test,Y_Train,Y_Test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [184]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsClassifier

In [185]:
from sklearn.metrics import mean_absolute_percentage_error

knn=KNeighborsClassifier()
rfc=RandomForestClassifier()
svc=SVR()
lr=LogisticRegression()

for classifier in (knn,rfc,svc,lr):
    classifier.fit(X_Train,Y_Train)
    Y_pred=classifier.predict(X_Test)

    print(mean_absolute_percentage_error(Y_Test, Y_pred))

749312459442434.0
2603281431258761.5
2601966707147536.0
2603281431258761.5

c:\Users\Administrator\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(